@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Sidebar hover-to-expand styles */
.sidebar {
  width: 56px; /* Collapsed width */
  min-width: 56px;
  max-width: 56px;
  overflow-x: hidden;
}
.sidebar:hover, .sidebar.group:hover {
  width: 256px; /* Expanded width */
  min-width: 256px;
  max-width: 256px;
  z-index: 20;
}

/* Hide sidebar labels by default, show on hover */
.sidebar-label {
  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
}
.sidebar:hover .sidebar-label, .sidebar.group:hover .sidebar-label {
  opacity: 1;
}
